<!-- the main page of your app -->
<div jqm-page>
    <div jqm-header>
        <h1>Page 1</h1>
    </div>

    <div>
        <div jqm-button inline="true" ng-click="app.openPanel='left'">
            Open panel
        </div>
    </div>

    An input field:
    <div jqm-textinput>

    </div>

    A big list:
    <p>
    <ul jqm-listview>
        <li jqm-li-link="#/page2/{{$index}}" icon="ui-icon-arrow-r" ng-repeat="todo in app.todos">
            {{todo.label}}
        </li>
    </ul>
    </p>

    <div jqm-footer>
        <h1>Footer</h1>
    </div>
</div>